#sfondo-titolo {
    position: relative;
    height: 120px;
    background-image: url("../img/pattern.png");
    background-color: rgba(0, 60, 255, 0.7);
    background-position: center;
}

#logo {
    width: 180px;
    position: absolute;
    top: 45%;
    left: 1%;
}

#firma {
    font-size: 15px;
}

#booleaner {
    color: dodgerblue;
}

#data {
    font-size: 12px;
}

.didascalia {
    font-size: 12px;
}

.evidenziatore {
    background-color: yellow;
}

#lista {
    padding-inline-start: 10px; /* come si allineano i pallini al paragrafo precedente? Io l'ho fatto a occhio */
}

table {
    border-collapse: collapse;
}

.colonna-1 {
    width: 25%;
}

.colonna-2 {
    width: 25%;
}

.colonna-3 {
    width: 50%;
}

#linea-0 {
    background-color: dodgerblue;
}

#linea-1 {
    background-color: aqua;
}

#linea-3 {
    background-color: aqua;
}

#titolo-footer {
    font-weight: bold;
    color: gray;
}

#foto-piè-1 {
    width: 200px;
    height: 200px;
    background-image: url("../img/monitor.jpg");
    background-size: cover;
    background-position: center;
}

#foto-piè-2 {
    width: 200px;
    height: 200px;
    background-image: url("../img/graph.jpg");
    background-size: cover;
    background-position: center;
}

.titolo-video {
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 6px;
    left: 6px;
}

#container-main {
    width: 80%;
    margin: auto;
}

#container-footer {
    width: 80%;
    margin: auto;
}